body {
	text-align: center;
}
#digital {
	border: 10px solid #000;
	background: lightgreen;
	width: 25%;
	margin: 10px auto; 
	font-size: 30px;
	color: blue;
}
#indent {
	margin: 50px; 
}
#mech {
	border: 5px solid #000;
	width: 500px;
	height: 500px;
	margin: 10px auto; 
	font-size: 30px;
	border-radius: 500px;
	position: relative;
}
#center {
	background: #000;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin: 0px;
	position: absolute;
	top: 240px;
	left: 240px;
}
#arrow {
	width: 10px;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 245px;
	transform: rotate(0deg);
}
#invisible0 {
	background: white;
	width: 10px;
	height: 50px;
}
#visible {
	background: red;	
	width: 10px;
	height: 190px;
}
#invisible {
	width: 10px;
	height: 230px;
	background: white;
}
#one {
	position: absolute;
	top: 40px;
	left: 340px;
}
#two {
	position: absolute;
	top: 110px;
	left: 435px;
}
#three {
	position: absolute;
	top: 225px;
	left: 440px;
}
#four {
	position: absolute;
	top: 320px;
	left: 410px;
}
#five {
	position: absolute;
	top: 400px;
	left: 340px;
}
#six {
	position: absolute;
	top: 440px;
	left: 240px;
}
#seven {
	position: absolute;
	top: 400px;
	left: 140px;
}
#eight {
	position: absolute;
	top: 325px;
	left: 70px;
}
#nine {
	position: absolute;
	top: 225px;
	left: 40px;
}
#ten {
	position: absolute;
	top: 120px;
	left: 60px;
}
#eleven {
	position: absolute;
	top: 40px;
	left: 140px;
}
#twelve {
	position: absolute;
	top: 10px;
	left: 240px;
}
#arrow_m {
	background: yellow;
	width: 10px;
	height: 480px;
	position: absolute;
	top: 0px;
	left: 245px;
	transform: rotate(0deg);
}
#m_invisible0 {
	background: white;
	width: 10px;
	height: 60px;
}
#m_visible {
	background: blue;	
	width: 10px;
	height: 190px;
}
#m_invisible {
	width: 10px;
	height: 240px;
	background: white;
}
#arrow_h {
	background: orange;
	width: 10px;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 245px;
	transform: rotate(0deg);
}
#h_invisible0 {
	background: white;
	width: 10px;
	height: 60px;
}
#h_visible {
	background: green;	
	width: 10px;
	height: 190px;
}
#h_invisible {
	width: 10px;
	height: 250px;
	background: white;
